[2021-02-09 02:36] eliataylor opened #1 "Fix Google Doc/Sheet/Form buttons in HtmlEditor.js"
- Go to https://democraseeclub.web.app/rally/hgp/meeting/how-to-get-things-built-day-2
- Click Object-Actions Worksheet timebox to view editbable embedded Google Sheet iframed via santize-html
- Click "Edit Meeting" at the very bottom of the page
- Edit the pencil "Edit" button next to "Object Actions worksheet"
- *Fix DraftJS in [HtmlEditor.js](https://github.com/eliataylor/clock-agendas/blob/mas

[2021-02-09 02:42] eliataylor opened #2 "Fix multi-way camera / mic / screen sharing"
- go to https://democraseeclub.web.app/rally/building-democrasee/meeting/2020-11-14
- Select the down arrow next to "Broadcast"
- Enable your Cam/Mic/Screen in the popup
- To close the popup, click outside of it
- Click "Broadcast" and copy the room ID code displayed
- In a **new Browser** or on another computer, go to https://democraseeclub.web.app/rally/building-democrasee/meeting/2020-11-14
- i

[2021-02-09 02:52] eliataylor opened #3 "Float global note panel"
Float note icons and make expanded note tabs selected in tabs with contrast background color

![note-tabs](https://user-images.githubusercontent.com/6335974/107309121-b3ae6700-6a3e-11eb-8509-c1c51fb59293.png)
![float-icons](https://user-images.githubusercontent.com/6335974/107309122-b4df9400-6a3e-11eb-9e1d-b32654a03ab2.png)

[2021-02-09 03:02] eliataylor opened #4 "Connect Firebase Authentication"
Let's talk about how to best achieve this.

The current redux files - [authReducer.js](https://github.com/eliataylor/clock-agendas/blob/master/src/redux/authActions.js) and [authActions.js](https://github.com/eliataylor/clock-agendas/blob/master/src/redux/authActions.js) - are copied from another project and do not fit this project at all, but could be an approach to maintaining a users state whic

[2021-02-09 03:12] eliataylor opened #5 "Import public/json into Firebase DB"
Currently this page - https://democraseeclub.web.app/rally/hgp/meeting/how-to-get-things-built-day-1 - is driven by this static json public/json/rally/hgp/meeting/how-to-get-things-built-day-1.json structure.

This (or a similar structure) should come from 1 (or more) ajax requests to Firebase API via their javascript client sdk: https://firebase.google.com/docs/reference/js and drive all rallies

[2021-02-09 05:15] eliataylor opened #6 "Build out Inline Editing on Rallies and Meetings"
[src/fields/InlineEditable.js](https://github.com/eliataylor/clock-agendas/tree/master/src/fields/InlineEditable.js) is intended to be a wrapper component to render the correct field settings based on the appropriate config in: [src/fields/configs](https://github.com/eliataylor/clock-agendas/tree/master/src/fields/configs)

The goal of this is so when you click "Edit Rally", all the Rally fields a

[2021-02-09 05:17] eliataylor commented on #6
(also, look into the said security vulnerability of this component (likely regarding rendering {children} without validation?)

[2021-02-09 21:51] eliataylor commented on #2
Que bueno @Branyer! Todos los cambios aparecen el camino correcto! Sin embargo, el huespede no puede ver los vistos de otros mirando.

<img width="1782" alt="Screen Shot 2021-02-09 at 1 48 04 PM" src="https://user-images.githubusercontent.com/6335974/107433222-e9565d00-6add-11eb-9734-a44280917ce7.png">

[2021-02-09 21:53] eliataylor commented on #2
(y pienso que `https` esta obligatorio para Firebase / RTCPeerConnection)

asi debemos dejar: `HTTPS=true react-scripts start`

[2021-02-09 21:55] Branyer commented on #2
Está bien, seguiré buscando la forma de arreglar el problema.

[2021-02-10 21:14] Branyer commented on #2
Hola Eli, acabo de subir cambios respecto a este issue.

[2021-02-11 06:44] eliataylor commented on #2
@Branyer, yo probé y "Viewers #" funciona, pero todovia el anfitrión no puede ver el huesped

[2021-02-11 23:41] Branyer commented on #2
Ya he arreglado lo del anfitrion y el huesped, pruebalo y me comentas. Aun falta algunos detalles, como que si no tiene un broadcast, cuando empiece uno, de inmediato se empiece a transmitir a la otra persona.

[2021-02-23 23:14] eliataylor commented on #3
fixed

[2021-02-24 03:37] eliataylor commented on #3
`.WithSnackbar\(MeetingHome\)-drawer-29` only renders as a class when debugging with `yarn start`, production builds render different class names

[2021-02-24 03:42] eliataylor commented on #3
fixed with https://github.com/eliataylor/clock-agendas/commit/fdecac1cfb92008c3f5c44fedf4d8ee91676a609

[2021-02-24 03:42] #3 closed, assigned to nobody

[2021-02-24 03:44] eliataylor commented on #1
aunque no funciona dentro del `HtmlEditor`, el `iframe` aparece en la pagina.

sufficient por ahorita

![Screen Shot 2021-02-23 at 12 01 37 PM](https://user-images.githubusercontent.com/6335974/108944425-8f8e8080-760f-11eb-9fcc-ec7096a2f9e3.png)

[2021-02-24 03:44] #1 closed, assigned to nobody

[2021-03-01 03:05] eliataylor opened #8 "Implement FireCMS"
This looks promising: https://github.com/Camberi/firecms

We're open to other suggestions but the motivation is to offer our internal team some editorial control until we get the full authenticated site and API completed.

The field and entity Schemas are here:

- Entities: https://docs.google.com/spreadsheets/d/14JqTgNzR63KTKqUZ7dI7JLK0pZVt-3yRxCTIgt3gSBU/edit#gid=806175863
- Taxonomy: https://do

[2021-03-01 03:09] eliataylor opened #9 "Implement Create Rally multi-page form (custom)"
https://xd.adobe.com/view/0abb01ec-1d5a-497e-881c-bf7a9ceb064c-5fe8/screen/fa714067-6a33-487b-989c-3ff858ece6d0

<img width="522" alt="Screen Shot 2021-02-28 at 7 10 01 PM" src="https://user-images.githubusercontent.com/6335974/109447474-998df600-79f8-11eb-9d40-98b37d3ed660.png">

[2021-03-01 03:13] eliataylor opened #10 "Implement Resource page designs"
https://xd.adobe.com/view/0abb01ec-1d5a-497e-881c-bf7a9ceb064c-5fe8/screen/6fcb8cb6-f118-4bd6-9919-ec0eacf94197

<img width="521" alt="Screen Shot 2021-02-28 at 7 13 16 PM" src="https://user-images.githubusercontent.com/6335974/109447685-115c2080-79f9-11eb-804d-918713b99d92.png">

[2021-03-02 00:39] eliataylor opened #11 "Auto join room from shared URL"
https://democraseeclub.web.app//rally/universal-food-stamps/meeting/initial-conversation?room=kc9L22QT1B41zveNjY3q should automatically populate the "Enter Room field" and join the room.

It is also important that *after* the join the room they can still enable their cam/mic/screen.

[2021-03-02 00:41] eliataylor opened #12 "Create reliable iceServers"
When testing the WebRTC tools in #2 , we often run into
- `WebRTC: ICE failed, your TURN server appears to be broken, see about:webrtc for more details`
- `STUN allocate request timed out.`
- `TURN allocate request timed out.`

According to this - https://stackoverflow.com/questions/40902001/ice-failed-see-aboutwebrtc-for-more-detail-showing-in-firefox-but-not-in-chr - our iceServers might not be

[2021-03-03 17:37] Branyer commented on #8
Hola, tenia unas dudas, como quieres implementar el firebase CMS? solo un componente al que se pueda acceder por una ruta? o una carpeta aparte dentro del proyecto clock-agendas?

[2021-03-03 17:41] eliataylor commented on #8
@Branyer , por favor, nos avisas desde tus pruebas.

[2021-03-03 17:43] Branyer commented on #8
he creado este proyecto de prueba: https://github.com/Branyer/fireCMS-test, supongo eso es lo que quieres implementar, mi duda es : de que forma se va a acceder a ese dashboard desde la pagina?

[2021-03-03 17:50] eliataylor commented on #8
seria mas facil aqui: democraseeclub.web.app/cms  ?

sin embargo, si dos proyectos de Firebase puede compartir uno baso de datos, lo ponga aqui: democraseeclub-cms.web.app

[2021-03-04 17:14] eliataylor commented on #8
@Branyer, me entiendes?

[2021-03-04 17:25] Branyer commented on #8
Si claro, ya lo estoy empezando a implementar, cree una rama feature/fireCMS, cuando se accede a url/cms se puede ver el dashboard

[2021-03-04 18:54] eliataylor commented on #8
perfecto @Branyer, lo aparece que el metodo [buildSchema](https://github.com/eliataylor/clock-agendas/blob/feature/fireCMS/src/views/FirebaseCMS.tsx#L33) puede usar nuestros [archivos de configuracion](https://github.com/eliataylor/clock-agendas/tree/master/src/fields/configs)

[2021-03-05 10:09] eliataylor opened #13 "Implement "Create Rally - Meeting" from Template forms"
![rally_KickoffType_longer](https://user-images.githubusercontent.com/6335974/110100909-d0953c00-7d57-11eb-83de-9352f4174cf1.png)
![rally_KickoffType_creating](https://user-images.githubusercontent.com/6335974/110100919-d25eff80-7d57-11eb-8549-5420cf8a5fd1.png)
![rally_KickoffType_planning](https://user-images.githubusercontent.com/6335974/110100931-d3902c80-7d57-11eb-8f6d-9bf89f74fb4d.png)

[2021-03-07 22:45] Branyer commented on #8
Hola Eli, ya he terminado de construir los schemas y lo he conectado con firebase, ya he subido alguna data de prueba, por favor para que lo revises y me digas si está bien.

[2021-03-07 22:46] Branyer commented on #8
se accede con la ruta /cms

[2021-03-08 09:57] eliataylor commented on #8
lindo. @Branyer

![Screen Shot 2021-03-08 at 1 54 43 AM](https://user-images.githubusercontent.com/6335974/110305192-5102a980-7fb1-11eb-872f-8ef1a29656d8.png)

todo funciona.

[2021-03-08 10:05] eliataylor commented on #8
@Branyer , una cosa:

el campo "Agenda JSON" es para `type="text"` or `json`

yo veo `mediaType=json" aqui: https://github.com/eliataylor/clock-agendas/blob/2ca0a145316e5488acd52c500e8c8c0688ffdbea/src/views/firebaseCMS/collections/meeting.js#L97

pero en la pagina esta un imagen:

![Screen Shot 2021-03-08 at 2 00 26 AM](https://user-images.githubusercontent.com/6335974/110306244-73e18d80-7fb2-11e

[2021-03-08 10:33] eliataylor opened #15 "Add role-based restrictions on the FireCMS"
Since the CMS seems to expose ALL collections, we need some basic controls, particularly on the Users and Invites collections.

I suggest we prepopulate the Users collection with a few Administrator accounts. Then do something like this

[code]

All said, depending on how FireCMS gets this access token, we might also need to apply `write` restriction rules directly to Firebase here (https://consol

[2021-03-08 10:44] eliataylor opened #16 "Add other OAuth Providers to FireCMS"
Desde los opciones: https://firebase.google.com/docs/auth/web/firebaseui

@Branyer, empeces con "Email", "Phone", y "Anonymous"

Voy a crear los claves para FB, Twitter, Github, etc....

[2021-03-08 10:45] eliataylor commented on #4
Will #16 make this any easier?

(We will want people to login without necessarily touching the CMS)

[2021-03-08 10:47] eliataylor opened #17 "Import taxonomy terms into Firebase"
Port this script - https://github.com/eliataylor/democrasee-wp/blob/c07cfbe68376916124f6eeb07299e7703c5226fb/cli/taxonomy.php - to create the initial taxonomy terms

[2021-03-08 15:52] Branyer commented on #8
Yo lo que pensaba era que se tenia que subir un archivo .json, entonces, para los campos JSON se utiliza un input "text"?

[2021-03-08 20:08] eliataylor commented on #8
ahhh.  entiendo.

Pienso que deberiamos utilizar "text" porque cuando la pagina solicita `/rally/hgp/meeting/#` la repuesta deberia tener el json alado (no como un enlace)  - eventualmente crearemos la Agenda como campos, pero esa estructura todavía está cambiando demasiado.

[2021-03-08 20:11] eliataylor commented on #8
@Branyer , puedes añadir un validator para confirmar el texto de JSON es valido?

como `try { JSON.parse(agenda) } catch(e) {}`

[2021-03-08 20:12] Branyer commented on #8
Sí, creo que fireCMS tiene un metodo onPreSave donde puedo validar eso

[2021-03-09 02:50] Branyer commented on #8
listo, ya está como texto, y lo valido antes de enviarlo a firebase.

[2021-03-09 03:38] eliataylor commented on #8
hecho!

gracias @Branyer

[2021-03-09 03:38] #8 closed, assigned to Branyer

[2021-03-09 03:40] eliataylor commented on #5
@Branyer, de #8, tienes ideas por este (#5)?

(yo tenia un plan como `node tools/prepopulator.js` (https://github.com/eliataylor/clock-agendas/blob/master/tools/prepopulator.js) - pero depronto hay una manera para importer todos Rallies del FireCMS / Cloud Firestore?

[2021-03-09 03:53] eliataylor commented on #2
Apparently #12 is necessary to get this working 100%

[2021-03-09 03:59] eliataylor commented on #11
done.

[2021-03-09 03:59] #11 closed, assigned to eliataylor

[2021-03-09 04:00] eliataylor commented on #17
Whatever we do for #5 , should be doable here.

[2021-03-09 05:19] eliataylor commented on #8
@Branyer , una pregunta:

porque la ruta es `/c/:entity` en lugar de `/cms/:entity` ?

[2021-03-09 11:57] Branyer commented on #8
Eso es debido a la libreria https://github.com/Camberi/firecms, por defecto cambia a esa ruta **/c/:entity**

[2021-03-09 12:23] Branyer commented on #5
Lo que se quiere es crear cada meeting en firebase, y luego en la propiedad **Agenda JSON** de cada meeting, importar los archivos que estan en **_public/json_**?

[2021-03-09 17:25] eliataylor commented on #8
raro

[2021-03-09 17:49] eliataylor commented on #5
Si @Branyer .

y tendremos que cambiar la estructura  sobre los relaciones a Usarios, y los vocabularios.

[2021-03-09 17:51] eliataylor opened #19 "Render content from database instead of static json"
lets start with these routes

                        <Route path="/rallies"><Rallies/></Route>
                        <Route path="/resources"><Resources/></Route>
                        <Route path="/user/:uid"><City/></Route>
                        <Route path="/rally/:rid/meeting/:mid"><MeetingHome /></Route>
                        <Route path="/rally/templates"><RallyTemplates /></Route>

[2021-03-09 17:54] eliataylor commented on #5
depronto primero debemos hacer una ruta en #19 para ver la estructura de la repuesta de Firebase.

[2021-03-10 02:34] Branyer commented on #15
ya he agregado una verificacion de roles, y lo he puesto mi correo y el de usted con **ROLE_ADMIN**, en dado caso se podria en un futuro agregar más roles, para manejar quien puede hacer que.

[2021-03-10 03:59] eliataylor commented on #15
Ok @Branyer , estas familiar con las reglas de Cloud Firestore?

![Screen Shot 2021-03-09 at 7 54 31 PM](https://user-images.githubusercontent.com/6335974/110574090-4b23da00-8111-11eb-9e84-4fbbaf6aa888.png)

Puedes actualizar la list asi "writes" estan cerrado para todos colleciones menos de `rooms`?

[2021-03-10 04:01] eliataylor commented on #12
notes for myself:

https://www.twilio.com/pricing
https://www.red5pro.com/docs/server/webrtc/turnstun/
https://ourcodeworld.com/articles/read/1175/how-to-create-and-configure-your-own-stun-turn-server-with-coturn-in-ubuntu-18-04

[2021-03-10 04:38] eliataylor opened #20 "Copywrite Sponsorship page"
This page is hidden from navigation for now, but I posting it to open this discussion on wording and rates. 

https://democraseeclub.web.app/sponsors/cities

<img width="888" alt="Screen Shot 2021-03-09 at 8 34 03 PM" src="https://user-images.githubusercontent.com/6335974/110577115-cfc52700-8116-11eb-8b4c-d27ffe36d649.png">

The idea follows the NPR model: we ask for a small amount per month, char

[2021-03-10 04:51] eliataylor commented on #12
@Branyer  / @Aujemd , estoy pensando debemos intentar socket.io en Firebase - ej. https://github.com/muaz-khan/RTCMultiConnection ?

Han usado uno de estos?

[2021-03-11 02:09] Branyer commented on #15
Hola Eli, disculpa que no escribí temprano pero hoy he estado bastante ocupado. Lo que quieres es que: las coleciones que no sean room solo las pueda editar un usuario con role admin, cierto? agregando esa regla de Cloud Firestore.

[2021-03-11 02:53] Branyer commented on #16
Ya esta añadido el sign in con Google, Email, telefono y anonimo

[2021-03-11 04:42] eliataylor commented on #15
casi.

- si, el CMS es por usuarios con Admin
- si, quiero mas seguridad por los coleciones directamente en Cloud Firestore.

pero, encima de Roles, el dueño del contenido puedes editar su contenido propio.

me entiendes?

[2021-03-11 14:47] Branyer commented on #15
entendido

[2021-03-15 06:14] eliataylor opened #21 "Duplicate firebase & using development build?"
@Branyer, creo que hay un conflicto entre

https://github.com/eliataylor/clock-agendas/blob/master/public/index.html#L38
y
https://github.com/eliataylor/clock-agendas/blob/master/src/views/firebaseCMS/FirebaseCMS.js#L111

[code]

<img width="1787" alt="Screen Shot 2021-03-14 at 11 10 06 PM" src="https://user-images.githubusercontent.com/6335974/111110814-709e5280-851a-11eb-8f74-4202921ee7e2.png">

[2021-03-15 10:30] fgatti675 commented on #15
Hola @eliataylor y @Branyer !
Soy el creador de FireCMS :) Tenemos previsto hacer un nuevo sistema de roles para el CMS.
De forma muy sencilla, permitira configurar la configuracion de las colecciones basado en que usuario está logueado.
https://github.com/Camberi/firecms/issues/62
Decidme si esto os puede ayudar o si teneis alguna sugerencia o duda al respecto!!
Un saludo

[2021-03-15 11:55] Branyer commented on #15
Genial @fgatti675! lo que faltaría seria alguna forma de que el creador de un contenido pueda editarlo o eliminarlo (además del admin), por casualidad, tienes planeado hacer algo así?

[2021-03-16 10:50] fgatti675 commented on #15
Si, hemos cambiado la granuralidad de los permisos y en la siguiente version, que saldrá en breve, estará disponible :)

[2021-03-16 12:51] fgatti675 commented on #15
Ok, acabo de publicar la version 0.30.0 que incluye muchos cambios en este sentido.
Se han quitado los flags de `editEnabled` y `deleteEnabled` y reemplazado por un `permissions` (a nivel de coleccion).
El objeto permissions puede establecerse directamente o mediante un builder que recibe la `entity` y el `user` logueado.
Tambien podeis cambiar la navegacion general con un builder del mismo modo.

[2021-03-22 19:17] eliataylor commented on #21
@Branyer , lo aparece que no podemos usar Firebase CDN (<script>) y Module Imports (Import Firebase from ..) juntos. Yo preferiría usar el CDN, pero de las dependencias de FireCMS, no se si tenemos la opcion?

[2021-03-22 19:20] eliataylor commented on #12
I created a turn server using `coturn` on my GCP ubuntu instance for trackauthoritymusic.com:

https://github.com/eliataylor/clock-agendas/blob/rtc-refactor/src/Config.js#L38

[2021-03-22 19:20] #12 closed, assigned to eliataylor

[2021-03-22 19:56] Branyer commented on #21
tambien estuve viendo este problema, la cosa es que fireCMS requiere que firebase este importado en su scope, quizas una opción podria ser, en un archivo inicializar firebase con la configuracion y en ese archivo exportarlo a todo lugar de la app que lo necesite. que piensas? no estoy seguro de si el CDN podria funcionar.

[2021-03-22 20:27] eliataylor commented on #21
Si esta posible a crear una piel de FIreCMS, debemos cambiar el todo a `Import`. (Uno motivo, es me gustaria usar los [collections](https://github.com/eliataylor/clock-agendas/tree/master/src/views/firebaseCMS/collections), campos, y Validators de FireCMS dentro nuestros formularios, como #9 .

Si no, depronto debemos se mudar FireCMS por un otro repositorio.

[2021-03-22 23:18] eliataylor commented on #2
@Branyer , yo hize #12 and tengo una nueva rama [rtc-refactor](https://github.com/eliataylor/clock-agendas/blob/rtc-refactor/src/components/Room.js) con muchos cambios para este Issue.

Yo mantengo la cuenta de vistos correcto, pero no esta compartiendo el Stream. Puedes buscar si tu ves el problema?

[2021-03-23 00:23] Branyer commented on #21
sí, creo que podria ser una buena alternativa el mudar FireCMS, si decides hacerlo, porfa me confirmas y me pasas el nuevo repo para comenzar con esa tarea.

[2021-03-23 12:41] Branyer commented on #2
voy a revisar

[2021-03-23 19:15] Aujemd commented on #10
Hola Eli quieres que reemplaze el contenido de esta vista con el de ese diseño, cierto?
![Screenshot from 2021-03-23 15-12-45](https://user-images.githubusercontent.com/26072442/112204801-7961e900-8bea-11eb-8b48-5f898a8c49af.png)
![Screenshot from 2021-03-23 15-15-06](https://user-images.githubusercontent.com/26072442/112204944-a4e4d380-8bea-11eb-8486-08ad92baf783.png)

[2021-03-23 19:18] Aujemd commented on #10
Si es así, los assets del diseño deben ser los mismos ? o por ahora uso cualquiera

[2021-03-23 19:46] eliataylor commented on #10
@Aujemd, yes.

@polinatolkacheva , can you export the - the light bulb / all possible Badges / coin - from this design and upload them here?

[2021-03-25 22:32] eliataylor commented on #21
Ok @Branyer, gracias. Podemos esperar hasta lanzamos el siteo.

[2021-03-25 22:34] eliataylor commented on #16
@Branyer , puedes guardar el usuario en Firestore cuando alquien ingresa?

[2021-03-25 22:37] eliataylor opened #24 "Rebuild /about page with DB data"
Build this page by querying firestore for users with the "boardmember" flag.

https://democraseeclub.web.app/about

[2021-03-25 22:39] eliataylor commented on #2
@Branyer , ves algo?

[2021-03-25 22:42] eliataylor commented on #24
@Branyer  / @Aujemd, estoy llenando Firestore con los datos de Rallies y Resources. Mientras tanto, puedes realizar esta tarea con la intencion de ampliar la conexion con Firestore?

[2021-03-25 23:54] Branyer commented on #2
@eliataylor sí. estuve revisando y el creo que el problema es que en el Room no estas utilizando el component RemoteVideo para renderizar los videos de los viewers ni de los que se entra usando codigo, mañana me pondré a resolver este problema

[2021-03-25 23:56] Branyer commented on #24
Está bien @eliataylor

[2021-03-26 14:46] Branyer commented on #2
@eliataylor ya he subido un cambio sobre esto en [rtc-refactor](https://github.com/eliataylor/clock-agendas/tree/rtc-refactor), tengo una pregunta, en este momento la funcionalidad de ver el broadcast de los viewers no funciona, me pregunto si esa funcionalidad se eliminó de la app o tengo que arreglarla para que vuelva a funcionar?

[2021-03-27 19:20] Aujemd commented on #9
Hola Eli, tengo una pregunta, este issue aún esta por hacer ? si es así para yo comenzarlo

[2021-03-28 00:13] eliataylor commented on #9
@Aujemd, aunque estes diseños van a cambiar un poquito, si puedes conectar este formulario con Firebase, por favor comience

[2021-03-28 00:16] eliataylor commented on #2
@Branyer , tu codigo esta en `master` todovia. El problema es el anfitrion del cuarto no puede ver los huespedes.

[2021-03-30 02:13] Branyer commented on #24
Hola @eliataylor, esto está terminado.

[2021-04-10 00:21] polinatolkacheva commented on #10
@eliataylor @Aujemd

The Coin should be this file (new design):
![citizencoin_logo_sm](https://user-images.githubusercontent.com/10968182/114251484-08466380-9956-11eb-890e-f71c8510ac0d.png)

The badges for now are:
- Hero Badge (for adding your profile to resources):
![storytellerbadge](https://user-images.githubusercontent.com/10968182/114251822-5c057c80-9957-11eb-9046-d05ee9a8f46e.jpg)

- Storyt

[2021-04-19 03:57] #24 closed, assigned to Branyer, Aujemd

[2021-04-19 03:57] #21 closed, assigned to nobody

[2021-04-19 04:00] eliataylor commented on #19
too generic. we'll setup various issues for each page /content type

[2021-04-19 04:00] #19 closed, assigned to nobody

[2021-04-19 04:01] eliataylor commented on #17
done manually

[2021-04-19 04:01] #17 closed, assigned to nobody

[2021-04-19 04:02] #6 closed, assigned to nobody

[2021-04-19 04:02] eliataylor commented on #5
done manually

[2021-04-19 04:02] #5 closed, assigned to eliataylor

[2021-04-19 05:41] eliataylor opened #28 "Implement Dark Mode theme"
The whole site skin should toggle between light and dark modes per the theme palette in [authReducer](https://github.com/eliataylor/clock-agendas/blob/333063e2829fc22eec1284f3c952dfe37219924f/src/redux/authReducer.js#L18)

All styles should use colors from `theme.palette...`

![Screen Shot 2021-04-18 at 10 38 07 PM](https://user-images.githubusercontent.com/6335974/115186809-31be6800-a097-11eb-9ed

[2021-04-19 05:47] eliataylor commented on #28
(i've added the toggling tool in the footer here. https://democraseeclub.web.app/

![dark-mode-toggle-button](https://user-images.githubusercontent.com/6335974/115974561-7ff9be00-a512-11eb-8005-857d2a284bfc.png)

[2021-04-21 07:24] eliataylor opened #29 "Import all Cities"
Port this - https://github.com/eliataylor/democrasee-wp/blob/main/cli/city_sync.php - into Firestore

[2021-04-21 10:31] eliataylor commented on #20
https://user-images.githubusercontent.com/6335974/115539542-f320dd00-a251-11eb-96bf-e5d71f99cd4f.mp4

[2021-04-21 16:35] mysticscientist commented on #20
I love the 25% payout idea. That's a cool way to incentivize and nudge cities to support rallies

1) let me chat with local councilmembers and ask what language is better and more likely for a city to be interested in... my intuition suggests that "Sponsor" may not be appealing to them, but maybe there is a word city people/staff tend to like

2) i would prefer staying away from hierarchical ident

[2021-04-22 01:37] eliataylor commented on #20
Shukria @mysticscientist ! Loves it. Can you flesh out the Blue Certifications idea on paper / screen?

In terms of

A. - Selecting Cities (how many allowed? what is they're already sponsored? ...
B. - Recognition: where, how long does their credit appear?
C. - Rewards: do they get any other special permissions around the site? (although this is a bit furtherr out on any timeline)

[2021-04-22 04:42] eliataylor commented on #20
@polinatolkacheva , do you have any time to bring what i've put together so far into your design program ? Feel free to tweak any text as well, but i'm basically trying to capture that all money received goes 50-50 - (or more practically 60-40?) - between these two categories.

[2021-04-24 18:31] eliataylor commented on #16
i'll start a new issue for saving the user after signup/in

[2021-04-24 18:31] #16 closed, assigned to Branyer

[2021-04-24 18:57] eliataylor commented on #15
genial y gracias! la funciona bien

[2021-04-24 18:57] #15 closed, assigned to Branyer

[2021-04-24 18:58] eliataylor commented on #13
putting this on hold until we nail down fireCMS tools like

`this.props.sideEntityController.open({
            entityId: false,
            collectionPath: "rallies"
        })`

[2021-04-24 18:58] #13 closed, assigned to nobody

[2021-04-24 18:59] eliataylor commented on #9
closing this for now

[2021-04-24 18:59] #9 closed, assigned to Aujemd

[2021-04-24 18:59] eliataylor commented on #10
ok.

[2021-04-24 18:59] #10 closed, assigned to Aujemd

[2021-04-24 19:00] eliataylor commented on #4
can we just use firecms across the board?

[2021-04-24 19:00] #4 closed, assigned to nobody

[2021-04-24 19:04] eliataylor opened #32 "Implement FireCMS's `useSideEntityController()`"
arregla: https://github.com/DemocraseeClub/website/blob/master/src/views/Rallies.js#L35

[code]

"Start a Rally" deberia abrir el formulario de Rallies si estas autenticado:

![Screen Shot 2021-04-28 at 3 18 17 AM](https://user-images.githubusercontent.com/6335974/116388326-92088480-a7d0-11eb-9cbb-b5eda41e9fa7.png)

[2021-04-26 08:10] eliataylor opened #34 "Move Firestore "Meetings" as sub-collection of Rallies"
It seems at least the Meetings collection really needs to be moved into the Rallies fields as a subcollection.

Possible we may also want to move Action Plans into Rallies and Cities into States / Counties

(per https://firebase.google.com/docs/firestore/data-model)

[2021-04-26 23:02] eliataylor opened #35 "Redo Auth system...."
- [Link Multiple Auth Providers](https://firebase.google.com/docs/auth/web/account-linking) under single `firebase.auth` user
- Merge `firebase.auth` with `firestore.collection.users`, using [src/functions/.../createUser](https://github.com/DemocraseeClub/website/blob/master/functions/src/index.ts#L15)
- Pass Firestore's `user.roles` field to firecms [schema permissions User object](https://github

[2021-04-28 01:03] Branyer commented on #32
Hola Eli, revisando la documentación y los ejemplos de [firecms](https://github.com/Camberi/firecms), encontré que los hooks solo se pueden usar dentro de una [vista adcional](https://github.com/Camberi/firecms/blob/master/example/src/SampleApp/ExampleCMSView.tsx#L15) que se [agrega al Navigation de firecms ](https://github.com/Camberi/firecms/blob/master/example/src/SampleApp/SampleApp.tsx#L133),

[2021-04-28 11:22] eliataylor commented on #32
la repuesta de @fgatti675 : https://github.com/Camberi/firecms/issues/72 (dice lo mismo)

[2021-04-28 11:22] eliataylor commented on #34
done

[2021-04-28 11:22] #34 closed, assigned to eliataylor

[2021-04-28 11:31] eliataylor commented on #28
@Aujemd , esta mucho mejor. Puedes hacer eso texto blanco?

![make-white](https://user-images.githubusercontent.com/6335974/116396598-6ee2d280-a7da-11eb-9364-eddccfac043b.png)

[2021-04-29 18:07] eliataylor commented on #32
@Branyer , puedes explorar el ejemplo de @fgatti675 aqui:  https://github.com/Camberi/firecms/issues/72#issuecomment-829411425

[2021-05-04 03:34] Branyer commented on #32
@eliataylor, ya logre que funcionaran los hooks de fireCMS,  puede verlo en la rama [ testing-fireCMS-hooks](https://github.com/DemocraseeClub/website/tree/testing-fireCMS-hooks)

[2021-05-05 06:24] eliataylor commented on #32
@Branyer, me aparece bueno; y suficiente para seguir este manera con los formularios, incluyendo los de autenticación: https://democraseeclub.web.app/login.

Puedes seguir con https://github.com/DemocraseeClub/website/issues/35, y poner el objeto de usuario dentro de Redux para aceso de todos los componentes.

[2021-05-05 06:24] #32 closed, assigned to Branyer

[2021-05-05 06:26] eliataylor commented on #35
@Branyer, despues que unificamos el usuario de Firebase y Firestore, por favor, lo pongas en Redux para aceso de todos components

[2021-05-05 07:54] eliataylor opened #39 "RTC Video Streaming / Sharing tool & schema"
...siguiendo desde #2, y todos [los capacidades](https://docs.google.com/spreadsheets/d/1Y-ax1j4np6-DL4T9Qhq-NANf7sjw1TN2MOfTGNK1U24/edit?usp=sharing), yo propongo algo como este estructura de la colección de `rooms`:

https://github.com/DemocraseeClub/website/blob/master/tests/rtc-payload.json

y construimos [Room.js](https://github.com/DemocraseeClub/website/blob/master/src/components/Room.js) e

[2021-05-05 07:56] eliataylor commented on #2
sigue en #39

[2021-05-05 07:56] #2 closed, assigned to eliataylor, Branyer

[2021-05-05 08:33] eliataylor commented on #28
ok. gracias @Aujemd .

ahora podemos guardar nuestros ojos trabajando por la noche :)

@polinatolkacheva , i'm sure we'd love your opinion on a dark theme color palette. You can play around with colors here: https://material-ui.com/customization/color/

currently we're using:
[code]

[2021-05-05 08:33] #28 closed, assigned to Aujemd

[2021-05-15 18:29] eliataylor opened #42 "Apply masonry layout to a Card layouts"
`/rallies` in particular would look a lot better with a masonry layout.

these tutorials might help:

- https://mdbootstrap.com/docs/react/layout/masonry/
- https://www.npmjs.com/package/react-masonry-css

[2021-05-16 20:59] eliataylor opened #44 "Query & filter Resources"
query & filter resources en https://democraseeclub.web.app/resources

- on `resouce_type` and maybe `office_hours`

[2021-05-16 21:01] eliataylor opened #45 "Query & filter Rallies"
- https://democraseeclub.web.app/rallies

- create a filter to search Rallies with
-- A. Upcoming Meetings
-- B. Awaiting 7 Speakers
-- ...?

[2021-05-18 16:27] eliataylor commented on #35
#47

[2021-05-18 16:29] eliataylor commented on #44
@Aujemd , puedes comenzar despues que arreglamos los Functions

[2021-05-18 16:30] eliataylor commented on #45
@Aujemd , puedes comenzar despues que arreglamos los Functions

[2021-05-18 16:32] eliataylor opened #47 "Fix `Functions` to use Express"
@Branyer , has probado si necesitamos [rewrites](https://github.com/DemocraseeClub/website/blob/master/firebase.json#L20) en [firebase.json](https://github.com/DemocraseeClub/website/blob/master/firebase.json#L20) cuando estamos usando express por los Functions?

(Cuando yo sube los cambios, se borró `injectMeta` y los otros functions:

![Screen Shot 2021-05-18 at 9 21 20 AM](https://user-images.g

[2021-05-18 19:24] Branyer commented on #47
Ok Eli, Ya voy a investigar sobre los rewrites. Lo de que solo aparece app, es porque las functions que he agregado estan dentro de ese app de express, todas estan dentro de app. ya voy a agregar los triggers de createUser, etc. y las functions de envio de emails.

[2021-05-19 13:35] Branyer commented on #44
Eli ya agregue el endpoint de resource_type, ya le comente a Johan

[2021-05-19 13:36] Branyer commented on #44
tengo una duda, los endpoints de office_hours, van relacionados a  las propiedades date_end, date_start, o recurring? o todos?

[2021-05-19 14:21] Aujemd commented on #44
Ya implementé la query y el filtro

[2021-05-25 02:50] eliataylor opened #49 "set `created` and `modified` fields on ALL collections as `onPreSave`"
FireCMS supports a `onPreSave` method on entity definitions. We need something like

[code]

to ensure we can `orderBy(created | modified)`

[2021-05-25 08:09] eliataylor commented on #44
@Branyer / @Aujemd ,

- A menos que existan necesidades de seguridad, dejamos usar el firebase de web (client side js), ya que usa `web sockets` y ofrece los mismos filtros.

- Escribí un ejemplo en [Resources.js](https://github.com/DemocraseeClub/website/blob/bd71b610a9aad2b670713f5305271f97aa032a7c/src/views/Resources.js#L52) pero, necesito su ayuda con el filtro de `resource_type`.

[2021-05-25 08:11] eliataylor commented on #42
(una tarea útil y sencilla... @Branyer / @Aujemd)

[2021-05-26 18:25] polinatolkacheva commented on #42
I'm taking this task

[2021-05-27 03:26] eliataylor commented on #42
@Aujemd already started and is almost complete with this - https://github.com/DemocraseeClub/website/compare/johan-dev

Johan, por favor, commentas cuando comienzas una tarea :)

[2021-05-27 03:40] Branyer commented on #49
@eliataylor acabo de subir un commit a mi rama, la idea era plantearte que en lugar de usar FireCMS para modificar los valores de "create" y "modified" se usaran  los triggers de las function de firestore. Lamentablemente firebase no permite escuchar a todos los eventos asi que tendriamos que agregar una function que escuchara las actualizaciones para cada documento. que opinas?

[2021-05-27 04:19] eliataylor commented on #49
estaba pensando lo mismo @Branyer. Gracias!

yo copié un ejemplo aquí: https://github.com/DemocraseeClub/website/blob/master/functions/src/index.ts#L212

que piensas? puedes implementarlo?

[2021-05-27 12:27] Branyer commented on #49
Si claro @eliataylor ya empiezo con eso, ya ayer lo implemente en  [branyer-dev](https://github.com/DemocraseeClub/website/commit/3a712416e7f6f8cb8736feb01c88a035a6a511a1) para las actualizaciones de usuarios.

[2021-05-27 15:19] Branyer commented on #49
Ya esta listo @eliataylor, puedes ver los cambios en la rama [branyer-dev](https://github.com/DemocraseeClub/website/blob/branyer-dev/functions/src/index.ts#L211)

[2021-05-27 17:09] eliataylor commented on #49
ahh. entonces, perfecto @Branyer .

Ha probado que `set` no se crea en un bucle infinito en `onUpdate`?

[2021-05-27 17:11] Branyer commented on #49
@eliataylor yeah, valido que no se genere el bucle en esta [linea](https://github.com/DemocraseeClub/website/blob/branyer-dev/functions/src/index.ts#L219), todo funciona bien

[2021-05-27 17:14] eliataylor commented on #49
excelente.

merge to master y adelantamos :)

[2021-05-27 17:14] #49 closed, assigned to eliataylor

[2021-05-27 17:15] Aujemd opened #50 "Create User Profile"
Create a page base on
![image](https://user-images.githubusercontent.com/26072442/119868854-9322f380-beed-11eb-90de-f96d3a9e417b.png)

[2021-05-27 17:17] Aujemd opened #51 "User profile (edit)"
Create page based on
![image](https://user-images.githubusercontent.com/26072442/119869129-e2692400-beed-11eb-95d9-50807668944b.png)

[2021-05-27 17:17] eliataylor commented on #49
(una pregunta, tu piensas esta mejor usar `onUpdate` y `onCreate` en lugar de `onWrite` con una condición para `created`?)

[2021-05-27 17:20] eliataylor commented on #50
:thumbsup:

[2021-05-27 17:22] eliataylor commented on #51
:thumbsup:

[2021-05-27 17:24] Branyer commented on #49
a mi me gusta usar mas onUpdate y onCreate, ya que es un poco mas descriptivo y especifico. Pero si quieres se puede implementar el onWrite, al fin y al cabo, los dos llevan al mismo resultado.

[2021-05-27 17:38] eliataylor commented on #49
dejalo asi.

podemos cambiarlo si el archivo crezca demasiado.

[2021-06-09 19:24] Aujemd commented on #51
Complete (UI)
https://github.com/DemocraseeClub/website/commit/6e1d53d2a64d2203c236e6435afc73f015a1c00b

[2021-06-10 19:52] Aujemd commented on #50
Ready https://github.com/DemocraseeClub/website/commit/a2c0a65d68eb8fe410fbdaadac09f424ddb38516

[2021-06-16 04:36] eliataylor opened #57 "Design citizen avatars"
It feels like need a set of avatars for citizens to select if they don't have a profile pic.

![Screen Shot 2021-06-15 at 9 33 22 PM](https://user-images.githubusercontent.com/6335974/122158448-8bd27400-ce21-11eb-94d4-ec70ac72aa6c.png)

if you find one that looks good here: https://www.shutterstock.com/search/avatar?image_type=vector

I have a subscription for downloads and the .ai files provided

[2021-06-16 04:38] eliataylor commented on #57
i kinda dig these: https://www.shutterstock.com/image-vector/avatar-constructor-haircuts-glasses-clothes-405518461

[2021-06-29 09:58] #51 closed, assigned to nobody

[2021-06-29 09:58] #50 closed, assigned to Aujemd

[2021-06-29 09:59] #47 closed, assigned to eliataylor

[2021-06-29 09:59] #44 closed, assigned to Aujemd

[2021-06-29 09:59] #42 closed, assigned to Aujemd

[2021-06-29 10:00] eliataylor commented on #29
no need

[2021-06-29 10:00] #29 closed, assigned to eliataylor

[2021-06-29 10:00] #35 closed, assigned to eliataylor

[2021-07-01 07:20] eliataylor opened #67 "Firebase report "XHR finish loading :POST <URL>" more times than all requests on a page."
(Rally/Meeting pages](https://democraseeclub.web.app/rally/giGKQ4XvOq4504l6ICbE) are extremely slow, presumably because of how were are querying reference fields from their parent Firebase Documents.

We can verify that our [normalizeRally](https://github.com/DemocraseeClub/website/blob/ac3f0ee384c7f140f23c11327770a5717f6b39c1/src/redux/entityDataReducer.js#L229) and `normalizeMeeting` functions a

[2021-07-01 07:36] eliataylor commented on #67
I find it interesting that FIreCMS appears to do something similar with their `createEntityFromSchema` - https://github.com/Camberi/firecms/blob/760bced63a25f80831ce3a6ff05c610d72f42986/src/models/firestore.ts#L265 - but their CMS is much faster at loading even larger numbers of documents and references.

I've created this separate repository of just FireCMS and our collections - https://github.co

[2021-07-04 19:53] Branyer commented on #67
@eliataylor cree una rama (no-fireCMS) donde elimine fireCMS de la app, seria chevere que lo probaras y me dijeras que tal te va

[2021-07-07 15:30] eliataylor commented on #67
@Branyer , no veo una diferencia sin fireCMS. ~10 segundos para mostrar http://localhost:3000/rally/giGKQ4XvOq4504l6ICbE

[2021-07-09 14:32] fgatti675 commented on #67
Hola chicos,
He echado un vistazo rapido al metodo https://github.com/DemocraseeClub/website/blob/ac3f0ee384c7f140f23c11327770a5717f6b39c1/src/redux/entityDataReducer.js#L229
y he visto que teneis muchas llamadas asincronas realizadas de forma secuencial.
Eso hace que para completar una tengais que esperar a la anterior.
Yo cambiaria el codigo para poder hacer el maximo de cosas posibles en parale

[2021-07-10 05:11] Branyer commented on #67
@eliataylor he implementado Promise.all  en esta rama [implementPromiseAll](https://github.com/DemocraseeClub/website/tree/implementPromiseAll), creo que ha mejorado bastante el rendimiento, por favor pruebalo y me comentas.

[2021-07-11 04:49] eliataylor commented on #67
@Branyer  / @fgatti675 , yo subé los cambios y esta mejor, un poquito (por 2 segundos?).

Todavía se siente muy lento; y hay 37 mensajes de XHR: Post "<URL>"

Mas raro es Profiling con Chrome dice "4887 ms Idle".
![Screen Shot 2021-07-10 at 9 34 35 PM](https://user-images.githubusercontent.com/6335974/125182875-a7356280-e1c6-11eb-9419-ea55a46d5c5e.png)

Que piensa ustedes?

[2021-07-12 19:45] Branyer commented on #67
@eliataylor lo único que se me ocurre es cambiar las funciones para que absolutamente todas las promesas entren en un solo Promise.all, también podriamos jugar con el cache de firestore, pero no estoy seguro de que sea recomendable, no sé, si @fgatti675  nos puedes dar consejos sobre esto.

[2021-07-13 09:18] fgatti675 commented on #67
Parece que todavia hay sitios donde se ejecutan llamadas asincronas de forma secuencial, como en este loop:
https://github.com/DemocraseeClub/website/blob/fbaf5d6b465143bbd280b4b83a9f752e1452bee5/src/redux/entityDataReducer.js#L68
Echad un ojo a ver si podeis hacer refactor para que se ejecuten de forma paralela y vereis como mejora el rendimiento :)

[2021-07-14 03:58] eliataylor commented on #67
@Branyer  / @fgatti675 , sabes porque hay tantas solicitudes como:

`curl 'https://firestore.googleapis.com/google.firestore.v1.Firestore/Listen/channel?database=projects%2Fdemocraseeclub%2Fdatabases%2F(default)&VER=8&gsessionid=aieX6Tp9pG4tL02OXh5PmPzXr4RfWymCAJBdkJyeDuU&SID=UE4m9q_Ch0Ycryur3ULdvQ&RID=90341&AID=53&zx=bhj65lhtiqzx&t=1' \
  -H 'authority: firestore.googleapis.com' \
  -H 'pragma: n

[2021-07-14 15:13] fgatti675 commented on #67
No estoy del todo seguro, esas llamadas las hace Firebase desde el SDK directamente.
No deberia ser mucho problema que haya tantas llamadas, simplemente reflejan que estais haciendo muchas llamadas a Firebase. Para reducirlas imagino que es necesario reducir el numero de documentos a los que se accede.
En el CMS, en las vistas donde hay referencias a otros documentos, que se cargand e forma asincr

[2021-07-14 19:27] eliataylor commented on #67
1. La ruta `Firestore/Listen/channel` indica que Firebase esta escuchando por cambios / analytics, no?  No estamos usando Listeners aparte de [Functions](https://github.com/DemocraseeClub/website/blob/master/functions/src/index.ts#L267) y [Meetings](https://github.com/DemocraseeClub/website/blob/master/src/components/RemoteVideo.js#L154) y ciertamente esas llamadas pueden retrasar a otras, entonce

[2021-07-14 19:39] eliataylor commented on #67
3. No es un solucion, pero yo subé un cambio - https://github.com/DemocraseeClub/website/commit/2102db36260d9c279341dc99e2a03733ef1f571d?w=1 - así no esperamos los Meetings para ejecutar Render. Por lo menos, ahora vemos algunos datos mientras cargamos los de Meetings.

4. @fgatti675, desde tu experiencia con Firebase es este rendimiento normal? Tal vez estoy esperando demasiado.

[2021-07-14 21:44] fgatti675 commented on #67
Firebase puede ser muy rapido! Os sugeriria intentar ir desactivando partes de vuestra aplicacion para identificar las partes mas lentas, o aun mejor, medir los tiempos de cada funcion:
https://stackoverflow.com/questions/313893/how-to-measure-time-taken-by-a-function-to-execute

[2021-09-12 07:39] eliataylor commented on #45
i'll create a new Issue where these filters are created with JSON:API

[2021-09-12 07:39] #45 closed, assigned to eliataylor

[2021-09-12 07:55] eliataylor opened #72 "Connect to D9 API: Resources"

[2021-09-12 07:55] eliataylor opened #73 "Connect to D9 API: Meetings"

[2021-09-12 07:56] eliataylor opened #74 "Connect to D9 API: Publications"

[2021-09-13 14:19] eliataylor opened #75 "Connect to D9 API: 0Authentication"
-  Login: /oauth/token?_format=json
- Check roles: /oauth/debug?_format=json
- Forgot Password:

![Screen Shot 2021-09-13 at 9 19 25 AM](https://user-images.githubusercontent.com/6335974/133100468-e99102c1-3b98-478b-8b1f-5e73f218c123.png)